<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<th:block th:fragment="editarHabilidadCategoriaFragment">
  <article class="seccion-categorias seccion-edicion mt-5 mt-lg-1">
    <div class="row d-flex align-items-center">
      <h3 class="titulo-seccion-edicion mb-0 col-6">Categorías de habilidades</h3>
      <div class="text-end col-6">
        <button type="button" id="btnAbrirModalCrearCategoria" class="btn btn-success btn-abrir-modal-agregar mt-3 mt-md-1" data-bs-toggle="modal" data-bs-target="#modalCategoria">
          <i class="fa fa-plus" aria-hidden="true"></i> Agregar categoría
        </button>
      </div>
    </div>
    <div>
      <table class="my-4 texto-seccion-edicion table table-hover">
        <thead>
        <tr>
          <th class="text-center">Nombre</th>
          <th class="text-center">Descripción</th>
          <th class="text-center">Icono</th>
          <th class="text-center">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="categoria : ${categorias}">
          <td class="text-center" th:text="${categoria.nombre}"></td>
          <td class="text-center" th:text="${categoria.descripcion}"></td>
          <td class="text-center"><i th:style="'font-size:1.5em; color: ' + ${categoria.colorIcono}" th:class="'bi ' + ${categoria.icono}"></i></td>
          <td class="text-nowrap text-center">
              <span class="cursor-pointer px-3">
                <i class="fa fa-pencil editar-categoria text-primary" data-bs-toggle="modal" data-bs-target="#modalCategoria"
                   th:data-id-categoria="${categoria.id}" th:data-nombre-categoria="${categoria.nombre}"
                   th:data-descripcion-categoria="${categoria.descripcion}" th:data-icono-categoria="${categoria.icono}"
                   th:data-color-icono-categoria="${categoria.colorIcono}" th:data-idPropietario-categoria="${categoria.idPropietario}"></i>
              </span>
            <span class="cursor-pointer px-3">
                <i class="fa fa-minus-circle eliminar-categoria text-danger"
                   th:data-id-categoria="${categoria.id}"
                   th:data-nombre-categoria="${categoria.nombre}"></i>
              </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </article>

  <div class="modal fade" id="modalCategoria" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalCategoriaLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-dialog-scrollable">
        <div class="modal-header">
          <h5 class="modal-title mx-4 modal-title-actualizar" id="modalActualizarCategoriaLabel">Categoría de habilidades</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body pt-0">
          <form method="post" id="crearCategoriaForm">
            <input hidden type="text" id="inputIdCategoria"/>
            <input hidden type="text" id="inputIdPropietarioCategoria"/>
            <label>Nombre</label><br>
            <input type="text" id="inputNombreCategoria" required><br>
            <label class="mt-5 mt-md-3">Descripción</label><br>
            <textarea id="inputDescripcionCategoria"></textarea><br>
            <label class="mt-5 mt-md-3">Icono</label><br>
            <input type="text" id="inputIconoCategoria" required><br>
            <label class="mt-5 mt-md-3">Color del ícono</label><br>
            <input type="text" id="inputColorIconoCategoria" required><br>
            <small>Puede ser RGB, hexadecimal o el nombre del color.</small>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="btnCerrarModal" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-success btnGuardar" id="btnGuardarCategoria">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</th:block>
</body>
</html>