<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head></head>-->
<!--<body>-->
<!--<th:block th:fragment="editarHabilidadFragment">-->
<!--  <article class="seccion-habilidades seccion-edicion">-->
<!--    <div class="row d-flex align-items-center">-->
<!--      <h3 class="titulo-seccion-edicion mb-0 col-6">Habilidades</h3>-->
<!--      <div class="text-end col-6">-->
<!--        <button type="button" id="btnAbrirModalCrearHabilidad" class="btn btn-success btn-abrir-modal-agregar mt-3 mt-md-1" data-bs-toggle="modal" data-bs-target="#modalHabilidad">-->
<!--          <i class="fa fa-plus" aria-hidden="true"></i> Agregar habilidad-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div>-->
<!--&lt;!&ndash;      <table class="my-4 texto-seccion-edicion table table-hover">&ndash;&gt;-->
<!--&lt;!&ndash;        <thead>&ndash;&gt;-->
<!--&lt;!&ndash;        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;          <th class="text-center">Nombre</th>&ndash;&gt;-->
<!--&lt;!&ndash;          <th class="text-center">Categoría</th>&ndash;&gt;-->
<!--&lt;!&ndash;          <th class="text-center">Acciones</th>&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;        </thead>&ndash;&gt;-->
<!--&lt;!&ndash;        <tbody>&ndash;&gt;-->
<!--&lt;!&ndash;        <tr th:each="subcategoria : ${subcategorias}">&ndash;&gt;-->
<!--&lt;!&ndash;          <td class="text-center" th:text="${subcategoria.nombre}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;          <td class="text-center" th:style="'background-color: ' + ${categoria.colorIcono}" th:each="categoria : ${categorias}" th:if="${categoria.id eq subcategoria.idHabilidadCategoria}">&ndash;&gt;-->
<!--&lt;!&ndash;            <span th:text="${categoria.nombre}" class="px-2"></span>&ndash;&gt;-->
<!--&lt;!&ndash;          </td>&ndash;&gt;-->
<!--&lt;!&ndash;          <td class="text-nowrap text-center">&ndash;&gt;-->
<!--&lt;!&ndash;              <span class="cursor-pointer px-3">&ndash;&gt;-->
<!--&lt;!&ndash;                <i class="fa fa-pencil editar-subcategoria text-primary" data-bs-toggle="modal" data-bs-target="#modalSubcategoria"&ndash;&gt;-->
<!--&lt;!&ndash;                   th:data-id-subcategoria="${subcategoria.id}" th:data-nombre-subcategoria="${subcategoria.nombre}"&ndash;&gt;-->
<!--&lt;!&ndash;                   th:data-idCategoria-subcategoria="${subcategoria.idHabilidadCategoria}"></i>&ndash;&gt;-->
<!--&lt;!&ndash;              </span>&ndash;&gt;-->
<!--&lt;!&ndash;            <span class="cursor-pointer px-3">&ndash;&gt;-->
<!--&lt;!&ndash;                <i class="fa fa-minus-circle eliminar-subcategoria text-danger"&ndash;&gt;-->
<!--&lt;!&ndash;                   th:data-id-subcategoria="${subcategoria.id}"&ndash;&gt;-->
<!--&lt;!&ndash;                   th:data-nombre-subcategoria="${subcategoria.nombre}"></i>&ndash;&gt;-->
<!--&lt;!&ndash;              </span>&ndash;&gt;-->
<!--&lt;!&ndash;          </td>&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;        </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;      </table>&ndash;&gt;-->
<!--    </div>-->
<!--  </article>-->

<!--  <div class="modal fade" id="modalHabilidad" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalHabilidadLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--      <div class="modal-content modal-dialog-scrollable">-->
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title mx-4 modal-title-actualizar" id="modalActualizarHabilidadLabel">Habilidad</h5>-->
<!--          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--        </div>-->
<!--        <div class="modal-body pt-0">-->
<!--          <form method="post" id="crearHabilidadForm">-->
<!--            <input hidden type="text" id="inputIdHabilidad"/>-->
<!--            <label>Nombre</label><br>-->
<!--            <input type="text" id="inputNombreHabilidad" required><br>-->
<!--            <label>Selecciona una categoría:</label>-->
<!--            <select id="inputIdHabilidadSubcategoria" name="inputIdHabilidadSubcategoria" class="estilos-input cursor-pointer">-->
<!--              <option th:each="subcategoria : ${subcategorias}" th:value="${subcategoria.id}" th:text="${subcategoria.nombre}"></option>-->
<!--            </select>-->
<!--          </form>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-secondary" id="btnCerrarModal" data-bs-dismiss="modal">Cerrar</button>-->
<!--          <button type="button" class="btn btn-success btnGuardar" id="btnGuardarSubcategoria">Guardar</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</th:block>-->
<!--</body>-->
<!--</html>-->