<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<th:block th:fragment="editarHabilidadFragment">
  <article class="seccion-habilidades seccion-edicion">
    <div class="row d-flex align-items-center">
      <h3 class="titulo-seccion-edicion mb-0 col-6">Habilidades</h3>
      <div class="text-end col-6">
        <button type="button" id="btnAbrirModalCrearHabilidad" class="btn btn-success btn-abrir-modal-agregar mt-3 mt-md-1" data-bs-toggle="modal" data-bs-target="#modalHabilidad">
          <i class="fa fa-plus" aria-hidden="true"></i> Agregar habilidad
        </button>
      </div>
    </div>
    <div>
      <table class="my-4 texto-seccion-edicion table table-hover">
        <thead>
        <tr>
          <th class="text-center">Nombre</th>
          <th class="text-center">Subcategoría</th>
          <th class="text-center">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="habilidad : ${habilidades}">
          <td class="text-center" th:text="${habilidad.nombre}"></td>
          <td class="text-center" th:each="subcategorias : ${subcategorias}" th:if="${subcategoria.id eq habilidad.idHabilidadSubcategoria}">
            <span th:text="${subcategoria.nombre}" class="px-2"></span>
          </td>
          <td class="text-nowrap text-center">
              <span class="cursor-pointer px-3">
                <i class="fa fa-pencil editar-habilidad text-primary" data-bs-toggle="modal" data-bs-target="#modalHabilidad"
                   th:data-id-habilidad="${habilidad.id}" th:data-nombre-habilidad="${habilidad.nombre}"
                   th:data-idSubcategoria-habilidad="${habilidad.idHabilidadSubcategoria}"></i>
              </span>
            <span class="cursor-pointer px-3">
                <i class="fa fa-minus-circle eliminar-habilidad text-danger"
                   th:data-id-habilidad="${habilidad.id}"
                   th:data-nombre-habilidad="${habilidad.nombre}"></i>
              </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </article>

  <div class="modal fade" id="modalHabilidad" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalHabilidadLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-dialog-scrollable">
        <div class="modal-header">
          <h5 class="modal-title mx-4 modal-title-actualizar" id="modalActualizarHabilidadLabel">Habilidad</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body pt-0">
          <form method="post" id="crearHabilidadForm">
            <input hidden type="text" id="inputIdHabilidad"/>
            <label>Nombre</label><br>
            <input type="text" id="inputNombreHabilidad" required><br>
            <label>Selecciona una categoría:</label>
            <select id="inputIdHabilidadSubcategoria" name="inputIdHabilidadSubcategoria" class="estilos-input cursor-pointer">
              <option th:each="subcategoria : ${subcategorias}" th:value="${subcategoria.id}" th:text="${subcategoria.nombre}"></option>
            </select>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="btnCerrarModal" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-success btnGuardar" id="btnGuardarHabilidad">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</th:block>
</body>
</html>