<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<th:block th:fragment="editarHabilidadFragment">
  <article class="seccion-habilidades seccion-edicion mt-5 mt-lg-1">
    <div class="row d-flex align-items-center">
      <h3 class="titulo-seccion-edicion mb-0 col-6">Habilidades</h3>
      <div class="text-end col-6">
        <button type="button" id="btnAbrirModalCrearHabilidad" class="btn btn-success btn-abrir-modal-agregar mt-3 mt-md-1" data-bs-toggle="modal" data-bs-target="#modalHabilidad">
          <i class="fa fa-plus" aria-hidden="true"></i> Agregar habilidad
        </button>
      </div>
    </div>
    <div>
      <table class="my-4 texto-seccion-edicion tabla-habilidades table table-hover align-middle">
        <thead>
        <tr>
          <th class="text-center">Nombre</th>
          <th class="text-center">Subcategoría</th>
          <th class="text-center d-none d-lg-table-cell">Descripción</th>
          <th class="text-center d-none d-lg-table-cell">Porcentaje</th>
          <th class="text-center d-none d-lg-table-cell">Icono</th>
          <th class="text-center d-none d-lg-table-cell">Imagen</th>
          <th class="text-center d-none d-lg-table-cell">Nivel</th>
          <th class="text-center">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="habilidad : ${habilidades}">
          <td class="text-center" th:text="${habilidad.nombre}"></td>
          <td class="text-center" th:each="subcategoria : ${subcategorias}" th:if="${subcategoria.id eq habilidad.idHabilidadSubcategoria}">
            <span th:text="${subcategoria.nombre}" class="px-2"></span>
          </td>
          <td class="text-center d-none d-lg-table-cell">
            <span th:if="${not #strings.isEmpty(habilidad.descripcion)}">
              <span th:text="${habilidad.descripcion}"></span>
            </span>
            <span th:unless="${not #strings.isEmpty(habilidad.descripcion)}">
              <i class="bi bi-dash-lg" style="color:grey;"></i>
            </span>
          </td>
          <td class="text-center d-none d-lg-table-cell">
            <span th:if="${habilidad.porcentaje != null}">
                <span th:text="${habilidad.porcentaje} + '%'"></span>
            </span>
            <span th:unless="${habilidad.porcentaje != null}">
                <i class="bi bi-dash-lg" style="color:grey;"></i>
            </span>
          </td>
          <td class="text-center d-none d-lg-table-cell">
            <span th:if="${not #strings.isEmpty(habilidad.icono)}">
              <i th:class="'bi ' + ${habilidad.icono}" style="color: #5cb874;"></i>
            </span>
            <span th:unless="${not #strings.isEmpty(habilidad.icono)}">
              <i class="bi bi-dash-lg" style="color:grey;"></i>
            </span>
          </td>
          <td class="text-center d-none d-lg-table-cell">
            <span th:if="${not #strings.isEmpty(habilidad.imagen)}">
              <img th:src="${habilidad.imagen}" th:alt="${habilidad.nombre}"/>
            </span>
            <span th:unless="${not #strings.isEmpty(habilidad.imagen)}">
              <i class="bi bi-dash-lg" style="color:grey;"></i>
            </span>
          </td>
          <td class="text-center d-none d-lg-table-cell">
            <span th:if="${not #strings.isEmpty(habilidad.nivel)}">
              <span th:text="${habilidad.nivel}"></span>
            </span>
            <span th:unless="${not #strings.isEmpty(habilidad.nivel)}">
              <i class="bi bi-dash-lg" style="color:grey;"></i>
            </span>
          </td>
          <td class="text-nowrap text-center">
              <span class="cursor-pointer px-3">
                <i class="fa fa-pencil editar-habilidad text-primary" data-bs-toggle="modal" data-bs-target="#modalHabilidad"
                   th:data-id-habilidad="${habilidad.id}" th:data-nombre-habilidad="${habilidad.nombre}"
                   th:data-idSubcategoria-habilidad="${habilidad.idHabilidadSubcategoria}" th:data-descripcion-habilidad="${habilidad.descripcion}"
                   th:data-porcentaje-habilidad="${habilidad.porcentaje}" th:data-icono-habilidad="${habilidad.icono}"
                   th:data-imagen-habilidad="${habilidad.imagen}" th:data-nivel-habilidad="${habilidad.nivel}"
                ></i>
              </span>
            <span class="cursor-pointer px-3">
                <i class="fa fa-minus-circle eliminar-habilidad text-danger"
                   th:data-id-habilidad="${habilidad.id}"
                   th:data-nombre-habilidad="${habilidad.nombre}"></i>
              </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </article>

  <div class="modal fade" id="modalHabilidad" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalHabilidadLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-dialog-scrollable">
        <div class="modal-header">
          <h5 class="modal-title mx-4 modal-title-actualizar" id="modalActualizarHabilidadLabel">Habilidad</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body pt-0">
          <form method="post" id="crearHabilidadForm">
            <input hidden type="text" id="inputIdHabilidad"/>
            <label>Nombre</label><br>
            <input type="text" id="inputNombreHabilidad" required><br>
            <label>Selecciona una categoría:</label>
            <select id="inputIdHabilidadSubcategoria" name="inputIdHabilidadSubcategoria" class="estilos-input cursor-pointer">
              <option th:each="subcategoria : ${subcategorias}" th:value="${subcategoria.id}" th:text="${subcategoria.nombre}"></option>
            </select>
            <div class="seccion-descripcion" id="seccionDescripcion">
              <label class="mt-5 mt-md-3">Descripción</label><br>
              <textarea id="inputDescripcionHabilidad"></textarea><br>
            </div>
            <div class="seccion-porcentaje" id="seccionPorcentaje">
              <label class="mt-5 mt-md-3">Porcentaje adquirido</label><br>
              <input type="number" id="inputPorcentajeHabilidad" min="0" step="1" required><br>
            </div>
            <div class="seccion-icono" id="seccionIcono">
              <label class="mt-5 mt-md-3">Icono</label><br>
              <input type="text" id="inputIconoHabilidad" required><br>
            </div>
            <div class="seccion-imagen" id="seccionImagen">
              <label class="mt-5 mt-md-3">Imagen</label><br>
              <input type="text" id="inputImagenHabilidad" required><br>
            </div>
            <div class="seccion-nivel" id="seccionNivel">
              <label class="mt-5 mt-md-3">Nivel</label><br>
              <input type="text" id="inputNivelHabilidad" required><br>
              <small class="text-muted mt-4">Principiante - Intermedio - Avanzado - Nativo</small><br>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="btnCerrarModal" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-success btnGuardar" id="btnGuardarHabilidad">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</th:block>
</body>
</html>