<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<th:block th:fragment="editarRedSocialFragment">
  <article class="seccion-redes-sociales seccion-edicion">
    <div class="row d-flex align-items-center">
      <h3 class="titulo-seccion-edicion mb-0 col-6">Redes sociales</h3>
      <div class="text-end col-6">
        <button type="button" id="btnAbrirModalCrearRedSocial" class="btn btn-success btn-abrir-modal-agregar mt-3 mt-md-1" data-bs-toggle="modal" data-bs-target="#modalRedSocial">
          <i class="fa fa-plus" aria-hidden="true"></i> Agregar red social
        </button>
      </div>
    </div>
    <div>
      <table class="my-4 texto-seccion-edicion table table-hover">
        <thead>
        <tr>
          <th class="text-center">Icono</th>
          <th class="text-center">Nombre</th>
          <th class="text-center">Enlace</th>
          <th class="text-center">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="redSocial : ${redesSociales}">
          <td class="text-center"><i th:class="'bi ' + ${redSocial.icono}"></i></td>
          <td class="text-center" th:text="${redSocial.nombre}"></td>
          <td class="text-center">
            <a class="text-success"
               th:href="${redSocial.enlace}"
               th:text="'Ver ' +${redSocial.nombre}"
               target="_blank"
               th:title="${redSocial.enlace}"></a>
          </td>
          <td class="text-nowrap text-center">
              <span class="cursor-pointer px-3">
                <i class="fa fa-pencil editar-red-social text-primary" data-bs-toggle="modal" data-bs-target="#modalRedSocial"
                   th:data-id-red="${redSocial.id}" th:data-nombre-red="${redSocial.nombre}"
                   th:data-enlace-red="${redSocial.enlace}" th:data-icono-red="${redSocial.icono}"
                   th:data-idPropietario-red="${redSocial.idPropietario}"></i>
              </span>
            <span class="cursor-pointer px-3">
                <i class="fa fa-minus-circle eliminar-red-social text-danger"
                   th:data-id-red="${redSocial.id}"
                   th:data-nombre-red="${redSocial.nombre}"></i>
              </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </article>

  <div class="modal fade" id="modalRedSocial" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalRedSocialLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content modal-dialog-scrollable">
        <div class="modal-header">
          <h5 class="modal-title mx-4 modal-title-actualizar" id="modalActualizarRedSocialLabel">Red social</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body pt-0">
          <form method="post" id="crearRedSocialForm">
            <input hidden type="text" id="inputIdRedSocial"/>
            <input hidden type="text" id="inputIdPropietarioRedSocial"/>
            <label>Nombre</label><br>
            <input type="text" id="inputNombreRedSocial" required><br>
            <label class="mt-5 mt-md-3">Enlace</label><br>
            <input type="text" id="inputEnlaceRedSocial" required><br>
            <label class="mt-5 mt-md-3">Icono</label><br>
            <input type="text" id="inputIconoRedSocial" required><br>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="btnCerrarModal" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-success btnGuardar" id="btnGuardarRedSocial">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</th:block>
</body>
</html>