<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<th:block th:fragment="experienciaLaboralFragment">
  <section id="experiencia-laboral" class="mx-auto">
    <h2 class="titulo-seccion text-center mx-auto">Experiencia laboral</h2>
    <div class="row d-flex mt-4" th:each="experienciaLaboral : ${experienciasLaborales}">
        <i th:class="'text-success text-center bi ' + ${experienciaLaboral.icono}"></i>
        <h3 class="titulo-experiencia fw-bold text-center mt-3 mb-0" th:text="${experienciaLaboral.puesto}"></h3>
        <p class="texto-sobre-mi text-center mt-3 mb-0 fw-bold text-success" th:text="${experienciaLaboral.empresa}"></p>
        <p class="texto-sobre-mi text-center mt-3 mb-0">
            <em th:text="${#dates.format(experienciaLaboral.fechaInicio, 'dd/MM/yyyy')}"></em>
            <span th:if="${experienciaLaboral.fechaFin != null}">
              <em th:text="' - ' + ${#dates.format(experienciaLaboral.fechaFin, 'dd/MM/yyyy')}"></em>
            </span>
            <span th:unless="${experienciaLaboral.fechaFin != null}">
              <em th:text="' - Presente'"></em>
            </span>
        </p>
        <p class="texto-sobre-mi text-center my-3" th:text="${experienciaLaboral.descripcion}"></p>
    </div>

  </section>
</th:block>
</body>
</html>