<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<th:block th:fragment="serviciosFragment">
  <section id="servicios" class="mx-auto">
    <div class="row">
      <div th:each="servicio : ${servicios}" class="col-lg-4 col-12 item-servicio">
        <div class="contenedor-icono">
          <i th:class="'bi ' + ${servicio.icono}"></i>
        </div>
        <h4 class="titulo-servicio" th:text="${servicio.titulo}"></h4>
        <p class="texto-servicio" th:text="${servicio.descripcion}"></p>
      </div>
    </div>
  </section>
</th:block>
</body>
</html>