/*Importación de fuentes*/
@font-face {
    font-family: 'Raleway';
    src: url("../assets/css/fonts/Raleway/Raleway-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: 'Raleway';
    src: url("../assets/css/fonts/Raleway/Raleway-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: 'Raleway';
    src: url("../assets/css/fonts/Raleway/Raleway-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url("../assets/css/fonts/Raleway/Raleway-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'OpenSans';
    src: url("../assets/css/fonts/OpenSans/OpenSans-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: 'OpenSans';
    src: url("../assets/css/fonts/OpenSans/OpenSans-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'OpenSans';
    src: url("../assets/css/fonts/OpenSans/OpenSans-Bold.ttf");
    font-weight: 700;
}

/* KEYFRAMES */
@keyframes fadeInDown {
    from {
        opacity: 0.1;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0.1;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Mobile chicos (hasta 719px incluidos)*/
html{
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    display:none;
}

.contenedor-barra-superior{
    max-width:100%;
}

.offcanvas{
    width:50% !important;
}

.nombre-portfolio{
    padding: 0.5em 0;
}

.navbar-toggler{
    font-size:1.8em;
}

section:not(:first-child){
    padding-top:50px;
    scroll-margin-top:50px;
}

.cursor-pointer {
    cursor: pointer;
}

.nombre-portfolio a,
.titulo-menu-desplegado {
    font-family: 'Raleway';
    font-size: 1.5em;
    font-weight: 700;
    color: #5cb874;
    text-transform: uppercase;
    text-decoration: none;
}

.titulo-menu-desplegado {
    font-size: 3em;
}

.nav-item {
    font-size:2em;
    margin:0.5em 0;
}

.btn-close{
    margin-right: 0.5em !important;
    border: 1px solid;
    border-radius: 50%;
    font-size: 1.3em;
    padding: 0.5em 0.5em 0.5em 0.6em!important
}

.carousel-item {
    position: relative;
    overflow: hidden;
}

.fondo-semi-transparente::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3d8f53;
    opacity: 0.65;
    z-index: 1;
}

.contenedor-datos-carrusel {
    position: relative;
    height: 80%;
    margin: 15% 12%;
    z-index: 2;
}

.link-descripcion{
    text-decoration: none;
}

.titulo-item-carrusel, .texto-item-carrusel {
    color: white;
    font-family: 'Raleway';
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.titulo-item-carrusel{
    animation: fadeInDown 2s ease forwards;
    cursor:pointer;
    font-size:4.5em;
}

.texto-item-carrusel {
    font-family: 'OpenSans';
    font-size:3em;
    font-weight: 400;
    animation: fadeInUp 2s ease forwards;
}

.primer-item, .segundo-item, .tercer-item{
    width: 100%;
    height: 75vh;
}

.primer-item{
    background: url('../assets/img/slide-1.jpg') center/cover no-repeat;
}

.segundo-item{
    background: url('../assets/img/slide-2.jpg') center/cover no-repeat;
}

.tercer-item{
    background: url('../assets/img/slide-3.jpg') center/cover no-repeat;
}

.divider{
    color:#3d8f53;
    opacity:0.5;
    width: 60%;
    margin: 20px auto;
}

footer{
    background-color: black;
    padding-top:30px;
}

.titulo-footer{
    font-family: 'Raleway';
    font-size:2.2em;
    font-weight:700;
}

.titulo-footer, .subtitulo-footer, .made-by{
    color:white;
}

.subtitulo-footer, .made-by{
    font-family:'OpenSans';
    font-size:2em;
    line-height:1.5;
    width:90%;
    margin-bottom:1rem;
}

.made-by{
    font-size:1.8em;
}

.made-by span{
    color: #5cb874;
}

.link-redes-sociales .bi {
    font-size:3em;
    color:white;
    background-color: #5cb874;
    padding: 5px 10px;
    margin: 0 10px;
    border-radius: 50%;
}

.estilos-input {
    outline: 0;
    box-shadow: none;
    border: 0 solid rgba(92, 184, 116, 0.5) !important;
    border-bottom-width: 2px !important;
    border-radius: 0 !important;
    width:100%;
    padding:0.5em 0;
}

.estilos-input:focus {
    background-color: transparent !important;
    border-color: #5cb874 !important;
    box-shadow: none !important;
}

/*Escritorio portátil pequeño (1024 a 1365)*/
@media screen and (min-width: 1024px){
    .nombre-portfolio{
        padding: 0.2em 0;
    }

    .nombre-portfolio a{
        font-size:0.6em;
    }

    .nav-item{
        margin:0.5em 0.2em;
    }

    .nav-link{
        font-size:0.6em;
    }

    .contenedor-barra-superior{
        height: 8vh;
    }

    .titulo-item-carrusel{
        font-size:2.5em;
    }

    .texto-item-carrusel{
        font-size:2em;
    }

    .contenedor-datos-carrusel{
        margin: 6% 12%;
    }

    .titulo-footer{
        font-size:1.2em;
        font-weight:700;
    }

    .subtitulo-footer, .made-by{
        font-size:1em;
    }

    .made-by{
        font-size:0.8em;
    }

    .link-redes-sociales .bi {
        font-size:2em;
    }

    .estilos-input{
        width:50%;
    }
}

/*Escritorio mediano (1366 a 1919)*/
@media screen and (min-width:1366px){
    .nav-item{
        margin:0.5em 1em;
    }
}

/*Escritorio grande (1920 min)*/
@media screen and (min-width: 1920px){
    .nombre-portfolio{
        padding: 0.5em 0;
    }

    .nombre-portfolio a{
        font-size:1em;
    }

    .nav-link{
        font-size:0.8em;
    }

    .titulo-item-carrusel{
        font-size:3.5em;
    }

    .texto-item-carrusel{
        font-size:2em;
    }

    .titulo-footer{
        font-size:1.7em;
    }

    .subtitulo-footer, .made-by{
        font-size:1.5em;
    }

    .made-by{
        font-size:1.2em;
    }

    .link-redes-sociales .bi {
        font-size:2.5em;
    }
}