#servicios{
    width:85%
}

.titulo-seccion, .titulo-servicio {
    font-family: 'Raleway';
    font-weight: bold;
    font-size:2.5em;
}

.titulo-seccion{
    text-transform: uppercase;
    border-bottom:2px solid #5cb874;
    width:fit-content;
    padding-bottom:5px !important;
}

.texto-sobre-mi, .contenedor-icono, .texto-servicio{
    font-family: 'OpenSans';
    font-size: 2em;
    line-height:2;
}

.texto-sobre-mi{
    width:90%;
    margin:20px auto;
}

.contenedor-icono{
    color:#56b874;
    font-size: 3.5em;
}

@media screen and (min-width: 1024px){
    .titulo-seccion{
        font-size:1.6em;
    }

    .titulo-servicio{
        font-size:1.4em;
    }

    .texto-sobre-mi, .texto-servicio{
        font-size:1em;
    }

    .contenedor-icono{
        font-size: 2em;
    }
}

@media screen and (min-width: 1366px){
    .titulo-servicio{
        font-size:1.2em;
    }

    .texto-sobre-mi{
        width:80%;
    }

    .contenedor-icono{
        font-size: 1.8em;
    }
}

@media screen and (min-width: 1920px){
    .titulo-seccion{
        font-size:2.5em;
    }

    .titulo-servicio{
        font-size:2em;
    }

    .texto-sobre-mi, .texto-servicio{
        font-size:1.5em;
    }

    .contenedor-icono{
        font-size: 2.8em;
    }
}