#servicios, #proyectos, #habilidades, #experiencia-laboral, #educacion, #contacto {
    width: 85%
}

.titulo-seccion, .titulo-servicio, .titulo-proyecto, .titulo-categoria,
 .nombre-categoria, .titulo-subcategoria, .titulo-experiencia, .titulo-educacion,
  .titulo-contacto {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 2.5em;
}

.titulo-seccion {
    text-transform: uppercase;
    border-bottom: 2px solid #5cb874;
    width: fit-content;
    padding-bottom: 5px !important;
}

.titulo-subcategoria {
    border-bottom: 2px solid #56b874;
    width: fit-content;
}

.nombre-categoria {
    font-size: 3em;
    border-bottom: 3px solid rgba(61,143,83,0.5);
}

.texto-sobre-mi, .contenedor-icono, .texto-servicio, .texto-proyecto,
.texto-categoria {
    font-family: 'OpenSans';
    font-size: 2em;
    line-height: 2;
}

.texto-sobre-mi {
    width: 90%;
    margin: 20px auto;
}

.contenedor-icono {
    color: #56b874;
    font-size: 3.5em;
}

.contenedor-enlaces {
    width: 50%;
    margin: 0 8px;
}

.contenedor-enlaces a {
    width: 100%;
}

.imagen-proyecto {
    height: 30em;
}

.card-categoria .bi, #experiencia-laboral .bi, #educacion .bi, .icono-contacto {
    font-size: 4em;
}

.card-categoria .card-body {
    width: 85%;
}

.main-categoria-habilidad {
    margin-top: 10em;
}

.img-categoria {
    font-size: 4em;
}

.icono-habilidad {
    font-size: 3.5em;
    color: #5cb874;
}

.img-habilidad {
    width: 75%;
}

@media only screen and (min-width: 1024px) {
    .titulo-seccion, .titulo-subcategoria {
        font-size: 1.6em;
    }

    .titulo-servicio, .titulo-proyecto, .titulo-categoria,
     .titulo-experiencia, .titulo-educacion, .titulo-contacto {
        font-size: 1.4em;
    }

    .nombre-categoria {
        font-size: 2em;
    }

    .texto-sobre-mi, .texto-servicio, .texto-proyecto,
    .texto-categoria {
        font-size: 1em;
    }

    .contenedor-icono {
        font-size: 2em;
    }

    .texto-descripcion {
        height: 26em;
    }

    .imagen-proyecto {
        height: 11em;
    }

    .card-categoria .bi, #experiencia-laboral .bi, #educacion .bi, .icono-contacto {
        font-size:3em;
    }

    .card-categoria .card-body {
        width: 85%;
    }

    .img-habilidad {
        width: 100%;
    }

    .main-categoria-habilidad {
        margin-top: 5em;
    }

    .habilidad-icono-nivel .bi{
        font-size:1.5em;
    }

    .habilidad-solo-imagen .img-habilidad {
        width: 65%;
    }
}

@media only screen and (min-width: 1366px) {
    .titulo-servicio, .titulo-proyecto, .titulo-categoria,
     .titulo-experiencia, .titulo-educacion, .titulo-contacto {
        font-size: 1.2em;
    }

    .nombre-categoria {
        font-size: 1.8em;
    }

    .texto-sobre-mi {
        width: 80%;
    }

    .contenedor-icono {
        font-size: 1.8em;
    }

    .texto-descripcion {
        height: 18em;
    }

    .imagen-proyecto {
        height: 14em;
    }
}

@media only screen and (min-width: 1536px) {
    .texto-descripcion {
        height: 16em;
    }
}

@media only screen and (min-width: 1920px) {
    .titulo-seccion, .titulo-proyecto, .titulo-categoria, .titulo-subcategoria {
        font-size: 1.9em;
    }

    .nombre-categoria {
        font-size: 3em;
    }

    .titulo-servicio, .titulo-experiencia, .titulo-educacion, .titulo-contacto {
        font-size: 2em;
    }

    .texto-sobre-mi, .texto-servicio, .texto-proyecto,
    .texto-categoria {
        font-size: 1.5em;
    }

    .contenedor-icono {
        font-size: 2.8em;
    }

    .texto-descripcion {
        height: 20em;
    }

    .imagen-proyecto {
        height: 18em;
    }

    .card-categoria .bi, #experiencia-laboral .bi, #educacion .bi, .icono-contacto {
        font-size: 4em;
    }

    .habilidad-icono-nivel .bi{
        font-size:2.5em;
    }
}