.titulo-seccion, .titulo-seccion-edicion {
    font-family: 'Raleway';
    font-weight: bold;
    text-transform: uppercase;
    border-bottom:2px solid #5cb874;
    font-size:25px;
    width:fit-content;
}

.titulo-seccion{
    text-align:center;
    padding-bottom:5px !important;
    margin:auto;
}

.texto-sobre-mi{
    font-family: 'OpenSans';
    font-size: 16px;
    text-align: center;
    width:90%;
    margin:20px auto;
}

.img-panel-edicion{
    width:7%;
}

@media screen and (min-width: 720px){
}

@media screen and (min-width: 1024px){
}

@media screen and (min-width: 1366px){
}

@media screen and (min-width: 1920px){
}