<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Editar Portfolio</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{css/main.css}"/>
</head>
<body>
  <p>Esta es la home de edicion</p>

  <script src="assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
  <script src="assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
  <script src="assets/js/libs/bootstrap/bootstrap.min.js"></script>
</body>
</html>